header {
  padding: 15px;
  background-color: #5150504b;
  display: flex;
}

header input {
  border: none;
  background: top;
  padding: 0px 10px;
  color: #ffffff;
  margin-right: 30px;
  font-size: 18px;
}

header input:focus-visible {
  border-bottom: 1px solid #8f8f8f;
  outline: none;
  padding-bottom: 10px;y
  
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ffffff;
  opacity: 1; /* Firefox */
}

header button {
  padding: 15px 25px;
  color: #171e65;
  border: none;
  background-color: #5150504b;
  width: 150px;
  font-weight: bold;
}

@media (max-width: 450px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  header * {
    margin: 10px;
  }

  header input {
    padding: 10px;
    text-align: center;
    margin-right: 10px;
  }

  header button {
    width: 60%;
  }

  ::placeholder {
    text-align: center;
  }
}
