* {
  padding: 0;
  margin: 0;
  font-family: "Raleway";
}

body {
  background-color: #94c8f4;
}

header {
  padding: 15px;
  background-color: #759eda;
  display: flex;
}

header input {
  border: none;
  background: top;
  padding: 0px 10px;
  color: #ffffff;
  margin-right: 30px;
  font-size: 18px;
}

header input:focus-visible {
  border-bottom: 1px solid #8f8f8f;
  outline: none;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ffffff;
  opacity: 1; /* Firefox */
}

header button {
  padding: 15px 25px;
  color: #171e65;
  border: none;
  background-color: #5879c7;
  width: 150px;
  font-weight: bold;
}

.today {
  margin: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.today img {
  max-width: 200px;
}

.today .weather-title {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  margin: 0 10px 30px;
}

.today .temperature {
  font-weight: bold;
  font-size: 20px;
}

.today .temperature span {
  font-weight: 500;
}

.today .humidity {
  padding: 15px;
  font-weight: bold;
  font-size: 14px;
}

.today .humidity span {
  font-weight: 300;
}

sup {
  font-size: 10px;
  font-weight: bold;
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 10px;
}

.item {
  margin: 20px;
  text-align: center;
}

.item img {
  width: 100px;
}

@media (max-width: 450px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  header * {
    margin: 10px;
  }

  header input {
    padding: 10px;
    text-align: center;
    margin-right: 10px;
  }

  header button {
    width: 60%;
  }

  ::placeholder {
    text-align: center;
  }
}
